[Unit]
Description=Start Perception Daemon service

[Service]
Type=oneshot
ExecStart=/usr/bin/perceptiond start
ExecStop=/usr/bin/perceptiond stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
